// Colors
// Primary

$strong-cyan: #26baa4;
$light-blue: #6173ff;

// Neutral

$dark-grayish-blue: #4c545d;
$grayis-blue: #9fabb2;
$light-aluminium: #C0C4C5;
$grams-hair: #F5F6F8;

// Font
// Sizes
$base-size: 1.8rem;

// Weights
$base-weight: 400;
$bold-weight: 600;

// Breakpoints
$mobile: 375px;
$desktop: 1440px;
