.paragraph {
    font-size: 1.6rem;
    color: $light-aluminium;
    line-height: 2.5rem;
    padding-top: 2.5rem;

    @media (min-width: $layout-breakpoint-small) {
        font-size: 1.7rem;
    }
}